body{
  margin: 0;
  padding: 0;
}
.navbar{
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
}
.nav_link{
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
  color:black;
}
.active {
  font-weight: bold; 
  color: gold; 
}
.antd_table{
  display: flex;
  justify-content: center;
}
.antd_table td{
  text-align: center;
}
.antd_table th{
  text-align: center!important;
}
.spin{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}